@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");

body {
  font-family: "Montserrat", sans-serif;
  text-align: center;
}
.big-heading {
  font-weight: 900;
  font-size: 3rem;
  line-height: 1.5;
}
.repeatedpadding {
  padding: 7% 15%;
}

/* Navigation Bar Start*/
.navbar {
  padding: 0 0 4.5rem;
}
.navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2rem;
  font-weight: 400;
}
.navbar-toggler,
.navbar-toggler-icon {
  outline: none !important;
}
.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-weight: 300;
  transition: 0.5s;
}
.nav-link:hover {
  border-radius: 10px;
  color: solid black !important;
  border-bottom: 1px solid black !important;
}
@media (max-width: 400px) {
  .navbar {
    padding: 1rem 0 4.5rem;
  }
  .navbar-brand {
    font-family: "Ubuntu", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
  }
}
/* Navigation Bar End*/

/* Title Section Start */
#title {
  text-align: left;
  background-color: #d9d9d9;
}
#titlecontainer {
  padding: 3% 15% 7%;
}
@media (max-width: 400px) {
  #titlecontainer {
    padding: 3% 10% 7%;
  }
}
#bannerinfo {
  padding: 15px 0;
}
.android-button,
.apple-button {
  margin: 5% 3% 5% 0;
}
#bannerimg {
  width: 90%;
  margin-top: 10px;
  margin-left: 10%;
  position: absolute;
  right: 0;
}
@media (max-width: 1000px) {
  #title {
    text-align: center;
  }
  #bannerimg {
    width: 90%;
    margin-top: 10px;
    margin-left: 12.5%;
    position: static;
    margin-bottom: -10%;
  }
}
/* Title Section End */

/* Features Section Start */
#features {
  position: relative;
  background-color: #fff;
  z-index: 1;
}

#features .container {
  padding: 0 10%;
}

#features .col-lg-4 {
  margin: 15% 0;
}

#features i {
  font-size: 3rem;
  margin-bottom: 1rem;
  color: pink;
  transition: 0.5s;
}
#features i:hover {
  font-size: 3rem;
  color: black;
}
#features h3 {
  font-size: 1.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
}
#features p {
  padding: 0 20px;
  font-size: 0.9rem;
}
/* Features Section End */

/* Testimonial Section Start */
#testimonials {
  background-color: #181818;
  color: #fff;
}
.testimonial-text {
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.5;
}
.testimonialimg {
  width: 10%;
  border-radius: 100%;
  margin: 20px;
}
/* Testimonial Section End */

/* Press Section Start */
#press {
  background-color: #b3b3b3;
  padding-bottom: 3%;
}
.press-logo {
  width: 15%;
  margin: 100px 20px 50px;
}
#press h3 {
  font-weight: 700;
  font-size: 3rem;
  padding-top: 100px;
  color: #fff;
}
#press h3 span {
  color: #66ff00;
}
/* Press Section End */

/* Pricing Section Start*/
#pricing {
  padding: 100px;
}
@media (max-width: 400px) {
  #pricing {
    padding: 100px 25px 100px;
  }
}
#pricing h3 {
  font-size: 1.5rem;
  padding-top: 10px;
}
#pricing h2 {
  padding: 10px;
}
.card-button {
  width: 100%;
}
.pricing-column {
  padding: 3% 2%;
}
/* Pricing Section End*/

/* Call To Action Start*/
.cta-heading {
  font-weight: 300;
  padding-bottom: 5%;
  opacity: 0.7;
}
#info {
  margin: 0 20px;
}
@media (max-width: 400px) {
  #info {
    margin: 10px 20px;
  }
}
/* Call To Action End*/

/* Footer Section Start*/
#footer {
  padding: 3% 15%;
}
#contact {
  margin: 20px 10px;
  color: black;
  transition: 0.1s;
}
#contact:hover {
  margin: 20px 10px;
  color: lightblue;
}
/* Footer Section End*/
